.activity.clearfix
  .col-md-6.col-md-offset-3
    %ul
      - 5.times do
        %li.clearfix
          .notice.pull-left
            = link_to "#" do 
              %img.img-circle(src="/avatars/avatar_men_1.jpg")
              %strong abcdefg
            %span started following you.
            %span.text-muted 10w
          .pull-right
            = link_to "#" do
              %img.img-object(src="/post_images/pic_5.jpeg")