.user-profile
  .media.profile-head
    .col-md-4.col-sm-4.col-xs-4.user-cover
      %img.img-circle.media-object{src: "http://via.placeholder.com/175x175"}
    .col-md-8.col-sm-8.col-xs-8.clearfix
      %h2.media-heading= @user.username
      -# = link_to "Edit profile", accounts_edit_path, class: "label label-default" 
    .user-status
      .lead.user-record
        %span 
          %strong 33 
          posts
        %span 
          %strong 33 
          comments
        %span 
          %strong 33 
          Likes
      .lead.user-detail
        %p= @user.bio
        = link_to @user.website, display_website(@user.website), target: '_blank'

  .user-photos.clearfix
    - 12.times do
      .col-md-4.col-sm-4.col-xs-4.no-padding
        %img{src: "http://via.placeholder.com/300x300"}