%li.icon-list#notification_li
  %span.count 3
  = link_to "#", id: "notificationLink" do
    = fa_icon "heart-o"
  #notificationContainer
    #notificationsBody.notifications
      = render "shared/notification_messages"
    
    = link_to accounts_activity_path, id: "notificationFooter" do
      %small See All