%ul
  - 15.times do
    %li.clearfix
      .pull-left
        = link_to "#" do 
          %img.img-circle(src="/avatars/avatar_men_1.jpg")
      .notice
        %strong abcdefg
        %span started following you.
        %time.text-muted 10w
      .pull-right  
        = link_to "#" do
          %img.img-object(src="/post_images/pic_5.jpeg")