.user-form-wrapper.col-md-offset-4.col-md-4
  .well
    .text-center
      %h3 Add Post
      %hr
    %form
      .form-group
        %input{type: "file"}
      .form-group
        %input{type: "text", class: "form-control", placeholder: "location"}
      .form-group
        %textarea{class: "form-control", placeholder: "caption"}
      %input{type:"submit", value: "Submit", class: "btn btn-block btn-primary"}
  