.photos-wrapper#tag
  %h1.text-muted.text-center #hashtag
  .user-photos.clearfix
    - 9.times do
      %ul
        %li.col-md-4.col-sm-4.col-xs-4.no-padding.post-img-wrapper
          %a(href="#")
            .post-img{style: "background-image: url(http://via.placeholder.com/300x300)"}