.well.user-form-wrapper.col-md-offset-4.col-md-4
  .text-center
    %h1 Photogram
    %h4.text-muted Sign up to see photos from your friends.
    %hr
  %form
    .form-group
      %input{type: "text", class: "form-control", placeholder: "Email"}
    .form-group
      %input{type: "text", class: "form-control", placeholder: "Full Name"}
    .form-group
      %input{type: "text", class: "form-control", placeholder: "Username"}
    .form-group
      %input{type: "text", class: "form-control", placeholder: "Password"}
    %input{type:"submit", value: "Register", class: "btn btn-block btn-primary"}