//activity
.activity
  ul
    li
      padding: 1em 0.5em
      border-bottom: border(1, $grey)
      &:last-of-type
        border-bottom: none
      .notice, time
        display: inline-block
      a
        img
          width: 48px
          height: 48px
      .notice
        padding: 1em
        width: 70%
        strong
          padding-right: 5px
        span, strong
          position: initial
        span
          margin-right: .5em

@media screen and (max-width: 415px)
  .activity
    ul li .notice
      padding-top: 0
      span, time
        display: inline-block
        width: 100%