//activity
.activity
  li
    padding: 1em 0
    border-bottom: 1px solid $grey
    img
      width: 48px
      height: 48px
    .notice
      img
        margin-right: .5em
      strong
        color: $default
      span.text-muted
        margin-left: .5em
    &:first-of-type
      padding-top: 0
    &:last-of-type
      border: none