$grey: #e7e7e7
$white: white
$bg: #fafafa
$primary: #4582EC
$default: #333333
$red: #d9534f

@function border($px, $color)
  @return ($px + px) solid $color

@function glyphicon($px, $color)
  $pixel: ($px + px)
  @return -$pixel 0 $default, 0 $pixel $default, $pixel 0 $default, 0 -1.5px $default
  
//Import bootstrap-sprockets
@import "bootstrap-sprockets"

// Import theme variables
@import "bootswatch/readable/variables"

// Bootstrap
@import "bootstrap"

// Bootswatch style
@import "bootswatch/readable/bootswatch"

//font-awesome
@import "font-awesome"

//import all files
@import "./*"

body
  background-color: $bg

nav
  border-radius: 0 !important
  border-left: none !important
  border-right: none !important

.glyphicon
  text-shadow: glyphicon(1.5, $default)
  color: $white

#content
  padding: 3em 0
  a:hover
    cursor: pointer
    text-decoration: none

.no-padding
  padding: 0

header.profile
  padding: 0 1.25em
  height: 80px //max 8%
  a.user-info
    position: relative
    display: block
    overflow: hidden
    color: $default
    padding: 1em 0
    border-bottom: border(1, $grey)
    img
      display: inline-block
      width: 48px
      height: 48px
      margin-right: 1em
    span
      position: absolute
      top: 50%
      transform: translateY(-50%)

.comments
  padding: 1.25em
  ul
    padding: 0
    list-style: none
    li
      margin: 0.5em 0
      padding-right: 0.5em

.like
  padding: 0 1.25em
  section.like-icon
    padding: 1.5em 0 0.5em 0
    width: 100%
    border-top: border(1, $grey)
    a
      font-size: 1.5em
      margin-right: 0.5em
      &:focus, &:hover
        color: $primary

form#comment-form
  padding: 0 1.25em
  input#comment-input
    border: none
    padding-left: 0
    border-top: border(1, $grey)
    border-radius: 0
    &:focus
    box-shadow: none   

// user show
.user-show
  padding: 0 2em

  *
    box-sizing: border-box

  section.user-show-wrapper
    background: $white
    position: relative
    height: 100%
    border: border(1, $grey)
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    
    header.profile, .like, 
    .comments,
    form#comment-form
      width: 33.33%

    header.profile
      padding-right: 1.25em
      padding-left: 1.25em
      position: absolute
      right: 0
      top: 0
          
    .user-photo
      width: 66.66%
      background-color: $white
      float: left
      img
        width: 100%

  .comments
    position: absolute
    left: 66.66%
    top: 80px
    height: 65%
    overflow-y: scroll

  .like
    position: absolute
    left: 66.66%
    top: 76%
    height: 24%

  form#comment-form
    position: absolute
    left: 66.66%
    bottom: 0

//general
@media screen and (max-width: 770px)
  #content
    padding: 0

@media screen and (max-width: 415px)
  nav
    margin-bottom: 0 !important

//user show
//ipad
@media (min-width: 416px) and (max-width: 770px)
  .user-show
    padding-top: 4em
    padding-bottom: 4em

    section.user-show-wrapper
      .user-photo
        width: 55%

      header.profile, .like, .comments
        width: 45%
        left: 55%

      .comments
        height: 40%

      .like
        top: 60%
        section.like-icon
          padding: 0.75em 0

// mobile
@media screen and (max-width: 415px)
  .user-show
    padding: 0
    
    section.user-show-wrapper
      border: none
      border-radius: 0

      header.profile
        border: none
        position: inherit !important
        width: 100%
        a.user-info
          border-bottom: none

      .user-photo
        float: none
        position: inherit !important
        width: 100%
        img
          width: 100%

      .comments
        top: 100%

      .like, 
      form#comment-form,
      .comments
        padding: 0
        width: 100%
        position: relative !important
        left: 0
        
      .like
        padding: 1em
        section.like-icon
          padding: 0
          border-top: none
      
      form#comment-form
        padding: 0 1em