//follow-modal
#follow-modal
  width: 51%
  margin: 2em auto
  .modal-content
    position: relative
    .modal-header
      margin-top: -1px
      position: fixed
      width: 50%
      height: 3em
      z-index: 10
      background-color: $white
      button.close
        position: fixed
        right: 22%
        top: .5em
        color: $white
    .modal-body
      padding: 0
      z-index: 5
      ul
        margin-top: 3em
        li
          padding: 15px
          display: block
          height: 3em
          border-bottom: border(1, $grey)