#notification_li
  position: relative

  span.count
    position: absolute
    top: 15%
    right: 15%
    color: $primary
    font-weight: 800

  #notificationContainer
    z-index: 9999 !important
    background-color: $white
    border: border(1, $grey)
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25)
    // overflow: visible
    position: absolute
    top: 100%
    right: 0
    width: 400px
    display: none 

  #notificationsBody
    min-height: 300px
    ul
      max-height: 300px
      overflow-y: auto
      li
        padding: 1em 0.5em
        border: border(1, $grey)
        .notice, time
          display: inline-block
        a
          img
            width: 36px
            height: 36px
        .notice
          padding-left: 1em
          width: 75%
          strong
            padding-right: 5px
          span, strong
            position: initial
        time
          width: 100%
          text-align: left    

  #notificationFooter
    display: inline-block
    width: 100%
    background-color: $grey
    text-align: center
    font-weight: bold
    padding: 1em
    font-size: 0.5em
    border-top: border(1, $grey)
    &:hover
      text-decoration: underline
