.user-form-wrapper
  .well
    background-color: $white
    padding: 1em 3.5em 3em 3.5em

  .bottom
    padding-top: 2em
    padding-bottom: 2em
    p
      font-weight: 500
      display: inline

@media screen and (max-width: 415px)
  .user-form-wrapper
    .well  
      box-shadow: none
      -webkit-box-shadow: none
      background-color: $bg
      border: none
      padding: 1em 3.5em 3em 3.5em
